<form action="/restaurant" method='post'>
  名稱:  <input type="text" name = 'name'><br>
  類別： <input type="text" name = 'category'><br>
  地址： <input type="text" name = 'location'><br>
  電話： <input type="text" name = 'phone'><br>
  描述:  <input type="text" name = 'description'><br>
  評分:  <input type='text' name = 'rating'><br>
  圖片來源: <input type='text' name='image'><br>
  <button type = 'submit'>加入名單</button>
</form>
<a href="/"><button>返回首頁</button></a>